html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI';
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color:darkgray;
}

.header .nav {
    display: flex;
    align-items: center;
}

.header .nav .logo {
    height: 30px;
    margin: 3px;
}

.header .nav-list {
    display: flex;
    list-style: none;
}

.header .nav-list .nav-item {
    margin: 5px;
}

.header .nav-list .nav-item a {
    text-decoration: none;
    color: black;
}

.main {
    flex: 1;
}

.footer {
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-container {
    width: 100%;
}

@media (min-width: 576px) {
    .flex-red {
        display: flex;
    }
}

@media (max-width: 576px) {
    .cyan {
        width: 100%;
        height: 200px;
    }

    .red {
        width: 100%;
        height: 200px;
    }
}

@media (min-width: 768px) {
    .flex-yellow {
        display: flex;
    }
}

@media (max-width: 768px){
    .yellow {
        width: 100%;
        height: 200px;
    }   
}

@media (max-width: 992px){
    .grey {
        width: 100%;
        height: 200px;
    }
}

@media (min-width: 992px) {
    .flex-grey {
        display: flex;
    }
}