
.blue{
    background-color: rgb(55, 55, 211);
}

.grey {
    background-color: gray;
}

.cyan{
    background-color: rgb(107, 209, 209);
}

.red{
    background-color: rgb(204, 75, 75);
}

.yellow{
    background-color: rgb(207, 181, 30);
}

.green{
    background-color: rgb(136, 221, 102);
}

.brown{
    background-color: rgb(73, 37, 15);
}