html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI';
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color:darkgray;
}

.header .nav {
    display: flex;
    align-items: center;
}

.header .nav .logo {
    height: 30px;
    margin: 3px;
}

.header .nav-list {
    display: flex;
    list-style: none;
}

.header .nav-list .nav-item {
    margin: 5px;
}

.header .nav-list .nav-item a {
    text-decoration: none;
    color: black;
}

.main {
    flex: 1;
}

.footer {
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-size {
    height: 100%;
    width: 100%;
}

.full-width {
    width: 100%;
}

.gray-container {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100%;
}

.blue {
    width: 100%;
    height: 200px;
}

.yellow-container {
    height: calc(100% - 200px);
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100%;
}

.red-container {
    height: calc(100% - 200px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.green {
    width: 100%;
    height: 200px;
}

@media (max-width: 992px){
    .gray-container {
        grid-template-columns: 100%;
        grid-template-rows: 800px 200px;
    }
}

@media (max-width: 768px){ 
    .yellow-container {
        grid-template-columns: 100%;
        grid-template-rows: 400px 200px;
    }
}

@media (max-width: 576px) {
    .red-container {
        grid-template-columns: 100%;
        grid-template-rows: 200px 200px;
    }

    .yellow-container {
        grid-template-columns: 100%;
        grid-template-rows: 600px 200px;
    }

    .gray-container {
        grid-template-columns: 100%;
        grid-template-rows: 1000px 200px;
    }
}
