/* styles.css */

/* Загальні стилі */
body {
    background-color: antiquewhite;
    /*background-image: url('/img/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;*/
    font-style: italic;
  }
  
  p::first-line {
    color: red; 
  }
  
  p {
    text-align: justify; 
    margin-left: 20px; 
    margin-right: 20px; 
    
  }
  
  h1 {
    font-weight: bold; 
    text-align: center; 
    color: #FF0000; 
    font-style: normal; 
  }
  
  /* Стилі для посилань */
  a:link {
    color: blue; 
  }
  
  a:visited {
    color: purple; 
  }
  
  a:hover {
    color: red; 
  }
  


  .image-gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  /* Стилі для окремих картинок */
  .image-item {
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Стилі для зображень */
  .image-item img {
    max-width: 300px;
    height: 500px;
  }
  
  /* Стилі для підписів */
  .image-caption {
    font-style: italic;
    color: #666;
    margin-top: 5px;
  }