h1,h2,h3,h4,h5,h6, ul, li, p {
    margin: 0;
    padding: 0;
}
header{
    background-color: #66b3ff;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid red;
    height: 45px;
}
.header-name{
    color: white;
}
.header-links a {
    margin-left: 10px; 
    color: black; 
  }
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
form{
    width: 240px;
    display: flex;
    flex-direction: column;
    /* margin-left: 200px; */
    border: solid 1px black;
  }
.form-title{
    padding-bottom: 32px;
    background-color: #66b3ff;
    text-align: center;
    color: white;
  }
  .form-content{
    padding: 64px 32px;
  }
  .form label {
    align-self: flex-start;
    margin-bottom: 20px;
  }
 input {
  border: 1px solid transparent; 
  border-radius: 4px; 
  padding: 5px; 
}
.form-button{
    margin-left: 80px;
}