*{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 80px;
    background-color: rgb(113, 165, 249);
}

.header_container{
    width: 90%;
    font-family: 'Afacad', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo p{
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.nav_menu a{
    padding-right: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.column_container{
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.body_container{
    display: flex;
    justify-content: center;
}

.create_part, .observe_part, .second_column, .third_column, .fifth_block, .six_block{
    line-height: 30px;
}

.column_title{
    font-size: 25px;
    font-weight: 700;
}

.color_blue{
    color: rgb(66, 143, 220);
}

.color_dark-blue{
    color: blue;
}

.color_light-blue{
    color: rgb(72, 215, 110);
}

.color_green{
    color: rgb(12, 127, 38);
}

.color_orange{
    color: rgb(216, 71, 18);
}
.color_red{
    color: rgb(216, 18, 18);
}

.footer{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgb(48, 47, 46);
    align-items: center;
    justify-content: center;
}

.footer_rule{
    color: rgb(131, 131, 131);
}