body {
    margin: 0;
    background-image: 
    url(./img/Untitled2.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    font-family: nunito;
}
.header {
    margin: 0.5% 0.5%;
    display: flex;
}

ul {
list-style-type: none;
text-align: center;
margin-left: 10%;
}

a {
    
    font-size: 16pt;
    margin: 0 2vw;
    color: white;
    font-family: raleway;
    font-weight: 700;
    text-decoration: none;
}

.hat {
    position: absolute;
    width: 750px;
    top: 50px;
    left: 35%;
}

.about {
    font-family: nunito;
    font-size: 16pt;
    font-weight: 500;
    height: 100px;
    width: 550px;
    margin: 30% 0% 0% 53%;
}

b {
    color: rgb(1, 197, 132);
}

.nav-list li {
    display: inline;
}

.partners {
    font-size: 16pt;
    font-family: raleway;
    font-weight: 700;
    text-align: center;
    margin-top: 3%;
}

.partners__title {
    display: inline;
    margin: 10px 20px;
}

.img-partner {
    margin: 0 2%;
}

.fb {
    font-family: nunito;
    color: white;
}

.f-text {
    text-align: center;
    font-weight: 300;
    color: white;
    font-family: nunito;
}

.text {
    margin: 5px 0;
}

.footer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: rgb(33, 153, 113);
    width: 100%;
    height: 200px;
}

.events {
    margin: 44% 5% 5% 5%;
}

.block {
    display: inline-flex;
}




.block2 {
    display: inline-flex;
    margin-top: 1%;
}

.img {
    height: 285px;
    width: 370px;
}

.p {
    width: 370px;
    margin: 0;
}

.block-img {
    margin-left: 4%;
}

@media (min-width: 1199px) and (max-width: 1350px) {
ul {
    margin-left: 5%;
}
    
}

@media (min-width: 900px) and (max-width: 1200px) {
ul {
    margin-left: 2%;
}

    a {
    font-size: 13pt;
}


}

@media (min-width: 650px) and (max-width: 900px) {
ul {
 list-style-type: none;
 text-align: center;
 margin-left: 1%;
}
        
a {       
    font-size: 10pt;
    margin: 0 1vw;
    color: white;
    font-family: raleway;
    font-weight: 700;
    text-decoration: none;
}

.hat {
    position: absolute;
    width: 400px;
    top: 50px;
    left: 25%;
}

}

@media (min-width: 1px) and (max-width: 650px) {
    ul {
     display: none;
       }


}

