body{
    background: url();
}

p{
    text-indent: 3%;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    font-style: italic;
}

h1{
    font-weight: bold;
    text-align: center;
    color: black;
}

img{
    padding: 5px;
    float: left;
    height: 40%;
    width: auto%;
}

li{
    font-size: large;
}

a:link{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0,6);
    border: 1px solid #f9f2f4;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
}

a:visited{
    text-decoration: none;
    color: black;
}