html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Arial";
  font-size: 18px;
  color: white;
}

header {
  width: 100%;
  background-color: #121212;
}
header nav {
  display: flex;
  align-items: center;
}
header nav .logo {
  height: 40px;
  margin: 5px;
}
header nav ol {
  list-style: none;
  display: flex;
  padding-left: 200px;
}
header nav ol li {
  margin: 5px;
}
header nav ol li a {
  text-decoration: none;
  color: white;
}

main {
  flex: 1;
  background-color: #282828;
  display: flex;
  flex-direction: column;
}
main .container {
  margin: 5px;
  min-height: 340px;
  background-color: #121212;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
main .container .header {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
}
main .container .header label {
  padding: 2px;
}
main .container .header a {
  padding: 5px;
  font-size: 14px;
  text-decoration: none;
  border-radius: 15px;
  background-color: #000000;
}

.film-list {
  flex: 1;
  margin: 5px;
  background-color: #282828;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}
.film-list .film-item {
  margin: 5px;
  width: 200px;
  height: 280px;
  background-color: #121212;
  border-radius: 5px;
  border: 3px solid #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.film-list .film-item .film-image {
  width: 180px;
  height: 200px;
  margin: 10px;
  border-radius: 5px;
}
.film-list .film-item .film-description {
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  color: lightgray;
  font-size: 14px;
}

@media (max-width: 660px) {
  .film-item {
    width: 46% !important;
  }
}
@media (max-width: 550px) {
  .film-item {
    width: 98% !important;
  }
}
footer {
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div label {
  margin: 5px;
}