body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.text {
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    font-family: "JetBrains Mono Thin";
}