body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #000000;
    color: #ffffff;
    padding: 30pt;
    line-height: 1;
    font-size: 20px;
    overflow: auto;
    font-size: 20pt;
  }
  h2 {
    font-size: 30pt;
  }
  .task {
    margin-bottom: 30px;
  }
  .task-number {
    font-weight: bold;
    color: purple;
    font-size: 24px;
  }
  .btn-container {
    margin-bottom: 20px;
  }
  button {
    font-size: 25px;
    margin-right: 10px;
    padding: 15px 20px;
    border: none;
    background-color: purple;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: '10px 10px 0px rgba(0,0,0,0.3)';
  }
  button:hover {
    background-color: darkmagenta;
    transition: background-color 0.2s;
  }
  .output {
    color: #08C45D;
    margin-top: 10px;
  }
  .green { color: #08C45D; }
  .hidden {
    display: none;
  }