h1, img {
    margin-left: 40%;
}
.Altanka {
    margin-left: 32%;
    border-radius: 35px;
}
.Plosha {
    margin-left: 32%;
    border-radius: 35px;

}
.img3 {
    position: absolute;
    top: 190px;
    right: 330px;
}

.img4 {
    margin-left: 28%;
}